<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Simple Meals</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="button" href="#">Get New Recipe<span class="caret"></span></a>
      </li>
      </ul>
        <li class="dropdown">
          <li><a href="https://zachywheeler.github.io/website/" class="dropdown-toggle" role="button">About Zachy<span class="caret"></span></a>
          <li><a href="https://www.linkedin.com/in/wilder-hamm-9948a0161/" class="dropdown-toggle" role="button">About Wilder<span class="caret"></span></a>
          </li>
  </div>
</nav>